body {
  background-color: #02012c;
  color: #ffffff;
  margin: 0 auto;
  font-family: "Inter", sans-serif;
  max-width: 1216px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__units {
  background: #2e2d5b;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: center;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.search-box__input {
  padding: 12px;
  border-radius: 8px;
  border: none;
  width: 300px;
}

.search-box__btn {
  background: #4b63ff;
  border: none;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.weather-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  width: 100%;
}

/* Надо дорабоать расположение */
.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(135deg, #4b63ff, #674bff);
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  width: auto;
  grid-column: 1;
  height: 286px;
}

.current-weather-group {
  display: flex;
  align-items: center;
}

.current-weather-image {
  width: 120px;
  height: 120px;
}

.current-weather__data {
  text-align: left;
}

.current-weather__city {
  font-size: 34px;
}

.current-weather__date {
  font-size: 22px;
}

.current-weather__temp {
  font-size: 96px;
  font-weight: bold;
}

.indicators {
  display: flex;
  gap: 20px;
  grid-column: 1;
  width: auto;
  height: 116px;
}

.indicator {
  background: #2e2d5b;
  border-radius: 12px;
  padding: 10px 20px;
  width: 100%;
}

.indicator__label {
  font-size: 14px;
  margin-bottom: 5px;
}

.indicator__value {
  font-size: 18px;
  font-weight: bold;
}

.daily-forecast {
  width: 100%;
  max-width: 800px;
  grid-column: 1;
  margin-top: 16px;
}

.daily-forecast-cards {
  display: flex;
  gap: 15px;
  overflow-x: auto; /* для скролла на мобильных */
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #262540;
  border-radius: 20px;
  padding: 24px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.section-group {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}

.day-select {
  background: #2e2d5b;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 15px;
  cursor: pointer;
  display: flex;
  gap: 10px;
}

.hourly-forecast-cards {
  display: flex;
  gap: 16px;
  overflow-x: auto; /* для скролла на мобильных */
  flex-direction: column;
  height: auto;
}

.daily-forecast-card {
  background: #2e2d5b;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 135px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hourly-forecast-card {
  background: #2e2d5b;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 30px;
}

.forecast-card__icon {
  width: 40px;
  height: 40px;
}

.section-title {
  font-size: 24px;
}

.footer {
  text-align: center;
  padding: 20px;
  font-size: 12px;
  color: #aaa;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
