/* === Bricolage Grotesque (variable) === */
@font-face {
  font-family: "Bricolage Grotesque";
  src: url("../assets/fonts/Bricolage_Grotesque/BricolageGrotesque-VariableFont_opsz,wdth,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* поддержка от Thin до Black */
  font-stretch: 75% 125%; /* можно сжимать/растягивать, если нужно */
  font-style: normal;
}

/* === DM Sans (variable, обычный) === */
@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900; /* поддерживает от Thin до Black */
  font-style: normal;
}

/* === DM Sans (variable, курсив) === */
@font-face {
  font-family: "DM Sans";
  src: url("../assets/fonts/DM_Sans/DMSans-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

body {
  background-color: #02012c;
  color: #ffffff;
  font-family: "DM Sans", sans-serif;
  font-weight: 400;
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 clamp(24px, 7vw, 112px);
}

h1 {
  font-family: "Bricolage Grotesque", sans-serif; /* заголовки */
  font-weight: 700;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 48px;
}

.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__units {
  background: #2e2d5b;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  cursor: pointer;
  display: inline-flex;
  gap: 10px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main__title {
  font-size: 52px;
  margin: 64px 0;
  text-align: center;
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 45px;
}

.search-box__wrapper {
  position: relative;
  flex: 1; /* занимает всю доступную ширину */
}

.search-box__icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; /* чтобы не мешала клику */
}

.search-box__input {
  border-radius: 8px;
  border: none;
  width: 300px;
  background: #262540;
  padding: 12px 12px 12px 40px; /* отступ под иконку */
  font-size: 20px;
  color: #ffffff;
}

.search-box__input::placeholder {
  color: #d4d3d9;
}

.search-box__btn {
  background: #4b63ff;
  border: none;
  color: #fff;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
}

.search-box__btn:hover {
  background: #2b1b9c;
}

.weather-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 32px;
  width: 100%;
}

.hide {
  display: none;
}

/* Надо дорабоать расположение */
.current-weather {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: url(../assets/images/bg-today-large.svg) no-repeat;
  border-radius: 16px;
  padding: 20px;
  text-align: center;
  width: auto;
  grid-column: 1;
  height: 286px;
}

.current-weather-group {
  display: flex;
  align-items: center;
  gap: 20px;
}

.current-weather-image {
  width: 120px;
  height: 120px;
  pointer-events: none;
}

.current-weather__data {
  text-align: left;
}

.current-weather__city {
  font-size: 34px;
}

.current-weather__date {
  font-size: 22px;
}

.current-weather__temp {
  font-size: 96px;
  font-weight: bold;
}

.indicators {
  display: flex;
  gap: 24px;
  grid-column: 1;
  width: auto;
  height: 118px;
}

.indicator {
  background: #2e2d5b;
  border-radius: 12px;
  padding: 20px 20px;
  width: 100%;
}

.indicator__label {
  font-size: clamp(14px, 1.75vw, 20px);
  margin-bottom: 24px;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.indicator__value {
  font-size: clamp(16px, 5vw, 32px);
  font-weight: lighter;
  height: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.daily-forecast {
  width: 100%;
  max-width: 800px;
  grid-column: 1;
  margin-top: 12px;
}

.daily-forecast-cards {
  display: flex;
  gap: 15px;
  overflow-x: auto; /* для скролла на мобильных */
}

.forecast-card-temperature {
  display: flex;
  justify-content: space-between; /* равномерно разводит элементы */
  align-items: center;
  width: 100%; /* или фиксированная ширина, если нужно */
}

.hourly-forecast {
  display: flex;
  flex-direction: column;
  gap: 16px;
  background-color: #262540;
  border-radius: 20px;
  padding: 24px;
  grid-column: 2;
  grid-row-start: 1;
  grid-row-end: 4;
}

.section-group {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  height: 37px;
}

.day-select {
  font-size: 16px;
  background: #2e2d5b;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 6px 16px;
  cursor: pointer;
  display: flex;
  gap: 12px;
}

.hourly-forecast-cards {
  display: flex;
  gap: 16px;
  overflow-x: auto; /* для скролла на мобильных */
  flex-direction: column;
  height: auto;
}

.daily-forecast-card {
  background: #2e2d5b;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  width: 100%;
  height: 165px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  align-items: center;
}

.hourly-forecast-card {
  background: #2e2d5b;
  border-radius: 12px;
  padding: 15px;
  text-align: center;
  display: flex;
  gap: 8px;
  align-items: center;
  height: 60px;
}

.forecast-card__time {
  margin-right: auto;
}

.forecast-card__icon {
  width: 40px;
  height: 40px;
}

.section-title {
  font-size: clamp(14px, 1.55vw, 20px);
}

.daily-forecast .section-title {
  padding-bottom: 20px;
}

.footer {
  text-align: center;
  padding: 40px 0;
  font-size: 12px;
  color: #aaa;
}

.attribution {
  font-size: 16px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.loading {
  background: #262540;
  justify-content: center;
}

.current-weather-loading {
  display: none;
  font-size: 18px;
}

.weather-load-icon {
  height: 48px;
}

.current-weather.loading .current-weather-group,
.current-weather.loading .current-weather__data {
  display: none;
}

.current-weather.loading .current-weather-loading {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

/* Dropdowns */
.day-select-wrapper {
  position: relative;
  display: inline-block;
}

.day-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 214px;
  margin: 10px 0 0;
  padding: 12px;
  list-style: none;
  background: #262540;
  border: 1px solid #3c3b5e;
  border-radius: 8px;
  display: none;
  box-shadow: 0 8px 16px rgba(2, 1, 44, 0.3);
}

.day-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
}

.day-dropdown.show {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.day {
  border-radius: 8px;
}

.day.active {
  background-color: #2e2d5b;
}

.unit-dropdown {
  position: relative;
  display: inline-block;
}

.units-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  width: 214px;
  margin: 10px 0 0;
  padding: 6px 8px;
  list-style: none;
  background: #262540;
  border: 1px solid #3c3b5e;
  border-radius: 8px;
  z-index: 100;
  font-size: 16px;
  box-shadow: 0 8px 16px rgba(2, 1, 44, 0.3);
}

.divider {
  border: 1px solid #2e2d5b;
}

.units-menu.show {
  display: block;
}

.units-group {
  display: flex;
  gap: 4px;
  flex-wrap: wrap;
}

.units-menu button {
  padding: 10px 8px;
  border-radius: 6px;
  background: #262540;
  cursor: pointer;
  width: 100%;
  text-align: start;
  height: 39px;
  display: flex;
  justify-content: space-between;
}

.units-menu img {
  height: 17px;
  width: 14px;
  display: none;
}

.units-menu p {
  color: #acacb7;
  font-size: 14px;
  padding: 6px 8px 0px;
  height: 23px;
  margin-bottom: 8px;
}

.units-menu button.active {
  background-color: #2e2d5b;
}

button.active img {
  display: block;
}

.search-dropdown {
  position: absolute;
  top: 100%;
  right: 0;
  width: 100%;
  margin: 10px 0 0;
  padding: 8px;
  list-style: none;
  background: #262540;
  border: 1px solid #3c3b5e;
  border-radius: 8px;
  display: none;
  box-shadow: 0 8px 16px rgba(2, 1, 44, 0.3);
}

.search-dropdown.show {
  display: block;
}

.search-dropdown__item {
  padding: 10px 8px;
  cursor: pointer;
  border-radius: 8px;
}

.search-dropdown__item.active {
  background-color: #2e2d5b;
}

.error {
  font-size: 28px;
}

.api-error {
  display: none;
  flex-direction: column;
  gap: 24px;
  align-items: center;
  padding-top: 64px;
}

.api-error.show {
  display: flex;
}

.api-error button {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  padding: 12px 16px;
  background: #262540;
  border-radius: 8px;
}

.api-error h3 {
  font-size: 52px;
}

.api-error p {
  font-size: 20px;
  max-width: 60vw;
}

.error-image {
  height: 50px;
  width: 42px;
}

@media (max-width: 1024px) {
  body {
    max-width: 768px;
    padding: 0 clamp(16px, 7vw, 24px);
  }

  .main__title {
    margin: 48px 0;
  }

  .weather-grid {
    grid-template-columns: 1fr;
  }

  .hourly-forecast {
    grid-column: 1;
    grid-row: auto;
    overflow-x: auto;
  }

  .search-box {
    width: 100%;
  }

  .search-box__input {
    width: 100%;
  }
}

@media (max-width: 680px) {
  body {
    width: max(75%, 375px);
    padding: 0 clamp(10px, 7vw, 16px);
  }

  .current-weather {
    flex-direction: column;
  }

  .search-box {
    flex-direction: column;
  }

  .indicators {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 колонки */
    grid-template-rows: repeat(2, auto); /* 2 строки */
    grid-column: 1;
    width: auto;
    height: auto; /* убираем фиксированную высоту */
  }

  .daily-forecast-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 2 колонки */
    grid-template-rows: repeat(3, auto); /* 2 строки */
    grid-column: 1;
    width: auto;
    height: auto; /* убираем фиксированную высоту */
  }
}

@media (max-width: 380px) {
  .current-weather {
    background: url(../assets/images/bg-today-small.svg) no-repeat;
  }
}
